@import url(./colors.css);

.header {
  width: calc(100% - 2rem);
  height: 59px;
  padding: 0 1rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.header > a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.5rem;
}
