@import url(./colors.css);

.podcastCard {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.podcastDetails {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.podcastDetailsSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.podcastDetailsImage {
  width: 150px;
  height: 150px;
  position: relative;
}

.podcastTextSection {
  text-align: start;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column;
  width: 100%;
  text-decoration: none;
  color: black;
}

.podcastTitle {
  width: 100%;
  text-align: start;
  width: 100%;
  padding-top: 1rem;
  border-top: 1px solid var(--border-color);
  font-weight: bold;
  font-size: 1.2rem;
}

.podcastAuthor {
  width: 100%;
  text-align: start;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border-color);
  font-style: italic;
  text-decoration: none;
}

.podcastDescriptionTitle {
  width: 100%;
  text-align: start;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.podcastDescription {
  width: 100%;
  text-align: start;
  font-size: 0.8rem;
  font-style: italic;
}
