.podcastCardContainer {
  position: relative;
  padding-top: 32px;
}

.podcastCard {
  padding-top: 72px;
  text-align: center;
}

.podcastImageContainer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: calc(50% - 40px);
}
