.main {
  height: calc(100dvh - 60px - 2rem);
  width: calc(100% - 2rem);
  padding: 1rem;
  overflow: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
}

.toTopButtonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
